--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Categorie_recipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Categorie_recipe" (
    "Id_Categorie_recipe" integer NOT NULL,
    "Icon_Categorie_recipe" bytea,
    "Icon_Path_Categorie_recipe" text,
    "Detail_Categorie_recipe" text
);


ALTER TABLE public."Categorie_recipe" OWNER TO postgres;

--
-- Name: Categorie_recipe_Id_Categorie_recipe_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Categorie_recipe_Id_Categorie_recipe_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Categorie_recipe_Id_Categorie_recipe_seq" OWNER TO postgres;

--
-- Name: Categorie_recipe_Id_Categorie_recipe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Categorie_recipe_Id_Categorie_recipe_seq" OWNED BY public."Categorie_recipe"."Id_Categorie_recipe";


--
-- Name: DetailRecipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DetailRecipe" (
    "Id_detail_recipe" integer NOT NULL,
    "Dt_recipe" text,
    "Dt_recipe_time" text,
    "Rate_recipe" integer,
    "Level_recipe" text,
    "Calories_recipe" integer,
    "FRK_recipe" integer
);


ALTER TABLE public."DetailRecipe" OWNER TO postgres;

--
-- Name: DetailRecipe_Id_detail_recipe_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."DetailRecipe_Id_detail_recipe_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."DetailRecipe_Id_detail_recipe_seq" OWNER TO postgres;

--
-- Name: DetailRecipe_Id_detail_recipe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."DetailRecipe_Id_detail_recipe_seq" OWNED BY public."DetailRecipe"."Id_detail_recipe";


--
-- Name: FavoriteUserRecipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FavoriteUserRecipe" (
    "favRecipe_id" integer NOT NULL,
    "FRK_user" integer,
    "FRK_recipe" integer
);


ALTER TABLE public."FavoriteUserRecipe" OWNER TO postgres;

--
-- Name: FavoriteUserRecipe_favRecipe_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."FavoriteUserRecipe_favRecipe_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."FavoriteUserRecipe_favRecipe_id_seq" OWNER TO postgres;

--
-- Name: FavoriteUserRecipe_favRecipe_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."FavoriteUserRecipe_favRecipe_id_seq" OWNED BY public."FavoriteUserRecipe"."favRecipe_id";


--
-- Name: IngredientRecipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."IngredientRecipe" (
    "Id_ingredient_recipe" integer NOT NULL,
    "Ingredient_recipe" text,
    "PoidIngredient_recipe" real,
    unit text,
    "FRK_detail_recipe" integer
);


ALTER TABLE public."IngredientRecipe" OWNER TO postgres;

--
-- Name: Ingredients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Ingredients" (
    "Id_List_Ingredients_recipe" integer NOT NULL,
    "Frk_Ingredient_recipe" integer,
    "FRK_recipe" integer
);


ALTER TABLE public."Ingredients" OWNER TO postgres;

--
-- Name: IngredientRecipe_Id_List_Ingredients_recipe_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."IngredientRecipe_Id_List_Ingredients_recipe_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."IngredientRecipe_Id_List_Ingredients_recipe_seq" OWNER TO postgres;

--
-- Name: IngredientRecipe_Id_List_Ingredients_recipe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."IngredientRecipe_Id_List_Ingredients_recipe_seq" OWNED BY public."Ingredients"."Id_List_Ingredients_recipe";


--
-- Name: IngredientRecipe_Id_ingredient_recipe_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."IngredientRecipe_Id_ingredient_recipe_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."IngredientRecipe_Id_ingredient_recipe_seq" OWNER TO postgres;

--
-- Name: IngredientRecipe_Id_ingredient_recipe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."IngredientRecipe_Id_ingredient_recipe_seq" OWNED BY public."IngredientRecipe"."Id_ingredient_recipe";


--
-- Name: Produit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Produit" (
    "Id_Produit" integer NOT NULL,
    "Produit" text,
    "PoidProduit" text
);


ALTER TABLE public."Produit" OWNER TO postgres;

--
-- Name: Produit_Id_Produit_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Produit_Id_Produit_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Produit_Id_Produit_seq" OWNER TO postgres;

--
-- Name: Produit_Id_Produit_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Produit_Id_Produit_seq" OWNED BY public."Produit"."Id_Produit";


--
-- Name: Recipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Recipe" (
    "Id_recipe" integer NOT NULL,
    "Icon_recipe" text,
    "Fav_recipe" integer,
    "Nom_Recipe" text,
    unique_key_recipe text,
    "Frk_user" integer,
    "Frk_categorie" integer,
    source text DEFAULT 'local'::text,
    external_id text,
    tags text[]
);


ALTER TABLE public."Recipe" OWNER TO postgres;

--
-- Name: Recipe_Id_recipe_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Recipe_Id_recipe_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Recipe_Id_recipe_seq" OWNER TO postgres;

--
-- Name: Recipe_Id_recipe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Recipe_Id_recipe_seq" OWNED BY public."Recipe"."Id_recipe";


--
-- Name: ReviewRecipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ReviewRecipe" (
    "Id_review_recipe" integer NOT NULL,
    "Detail_review_recipe" text,
    "Rate_review_recipe" integer,
    "FRK_recipe" integer
);


ALTER TABLE public."ReviewRecipe" OWNER TO postgres;

--
-- Name: ReviewRecipe_Id_review_recipe_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."ReviewRecipe_Id_review_recipe_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ReviewRecipe_Id_review_recipe_seq" OWNER TO postgres;

--
-- Name: ReviewRecipe_Id_review_recipe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."ReviewRecipe_Id_review_recipe_seq" OWNED BY public."ReviewRecipe"."Id_review_recipe";


--
-- Name: StepRecipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StepRecipe" (
    "Id_step_recipe" integer NOT NULL,
    "Detail_step_recipe" text,
    "Image_step_recipe" text,
    "Time_step_recipe" text,
    "FRK_recipe" integer
);


ALTER TABLE public."StepRecipe" OWNER TO postgres;

--
-- Name: StepRecipe_Id_step_recipe_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."StepRecipe_Id_step_recipe_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."StepRecipe_Id_step_recipe_seq" OWNER TO postgres;

--
-- Name: StepRecipe_Id_step_recipe_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."StepRecipe_Id_step_recipe_seq" OWNED BY public."StepRecipe"."Id_step_recipe";


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    "Id_user" integer NOT NULL,
    username text,
    "Firstname_user" text,
    "Lastname_user" text,
    "Icon_user" text,
    password text,
    "Birthday_user" text,
    "Phonenumber_user" text,
    "Email_user" text,
    "Status_user" text,
    "Grade_user" text,
    "Url_image" text,
    force_password_change boolean DEFAULT false,
    unique_key_user text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_Id_user_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_Id_user_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_Id_user_seq" OWNER TO postgres;

--
-- Name: User_Id_user_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_Id_user_seq" OWNED BY public."User"."Id_user";


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    "recipeId" integer NOT NULL,
    "senderId" integer NOT NULL,
    "receiverId" integer NOT NULL,
    message text NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status text DEFAULT 'sent'::text,
    "readAt" timestamp without time zone
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: Categorie_recipe Id_Categorie_recipe; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Categorie_recipe" ALTER COLUMN "Id_Categorie_recipe" SET DEFAULT nextval('public."Categorie_recipe_Id_Categorie_recipe_seq"'::regclass);


--
-- Name: DetailRecipe Id_detail_recipe; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DetailRecipe" ALTER COLUMN "Id_detail_recipe" SET DEFAULT nextval('public."DetailRecipe_Id_detail_recipe_seq"'::regclass);


--
-- Name: FavoriteUserRecipe favRecipe_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FavoriteUserRecipe" ALTER COLUMN "favRecipe_id" SET DEFAULT nextval('public."FavoriteUserRecipe_favRecipe_id_seq"'::regclass);


--
-- Name: IngredientRecipe Id_ingredient_recipe; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."IngredientRecipe" ALTER COLUMN "Id_ingredient_recipe" SET DEFAULT nextval('public."IngredientRecipe_Id_ingredient_recipe_seq"'::regclass);


--
-- Name: Ingredients Id_List_Ingredients_recipe; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ingredients" ALTER COLUMN "Id_List_Ingredients_recipe" SET DEFAULT nextval('public."IngredientRecipe_Id_List_Ingredients_recipe_seq"'::regclass);


--
-- Name: Produit Id_Produit; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Produit" ALTER COLUMN "Id_Produit" SET DEFAULT nextval('public."Produit_Id_Produit_seq"'::regclass);


--
-- Name: Recipe Id_recipe; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Recipe" ALTER COLUMN "Id_recipe" SET DEFAULT nextval('public."Recipe_Id_recipe_seq"'::regclass);


--
-- Name: ReviewRecipe Id_review_recipe; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReviewRecipe" ALTER COLUMN "Id_review_recipe" SET DEFAULT nextval('public."ReviewRecipe_Id_review_recipe_seq"'::regclass);


--
-- Name: StepRecipe Id_step_recipe; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StepRecipe" ALTER COLUMN "Id_step_recipe" SET DEFAULT nextval('public."StepRecipe_Id_step_recipe_seq"'::regclass);


--
-- Name: User Id_user; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN "Id_user" SET DEFAULT nextval('public."User_Id_user_seq"'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Data for Name: Categorie_recipe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Categorie_recipe" ("Id_Categorie_recipe", "Icon_Categorie_recipe", "Icon_Path_Categorie_recipe", "Detail_Categorie_recipe") FROM stdin;
\.


--
-- Data for Name: DetailRecipe; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: FavoriteUserRecipe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."FavoriteUserRecipe" ("favRecipe_id", "FRK_user", "FRK_recipe") FROM stdin;
1	1	16
2	1	16
3	12	55
4	12	17
5	12	17
\.


--
-- Data for Name: IngredientRecipe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."IngredientRecipe" ("Id_ingredient_recipe", "Ingredient_recipe", "PoidIngredient_recipe", unit, "FRK_detail_recipe") FROM stdin;
66	Pasta	0	g	35
6	Pasta	200	g	6
7	Olive Oil	2	tbsp	7
8	Chicken Thighs	400	g	8
9	Lettuce	150	g	8
10	Mascarpone Cheese	250	g	9
69	Pasta	0	g	36
70	Pasta	0	g	37
71	Olive Oil	0	tbsp	38
72	Pasta	0	g	39
15	Pasta	0	g	17
25	Lettuce	0	g	27
26	Pasta	0	g	28
27	Lettuce	0	g	32
93	Olive Oil	0	tbsp	56
95	Pasta	0	g	40
96	Pasta	0	g	57
97	Pasta	0	g	57
98	Lettuce	0	g	57
99	Pasta	0	g	58
55	Lettuce	0	g	34
62	Pasta	0	g	33
63	Olive Oil	0	tbsp	33
\.


--
-- Data for Name: Ingredients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Ingredients" ("Id_List_Ingredients_recipe", "Frk_Ingredient_recipe", "FRK_recipe") FROM stdin;
\.


--
-- Data for Name: Produit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Produit" ("Id_Produit", "Produit", "PoidProduit") FROM stdin;
\.


--
-- Data for Name: Recipe; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ReviewRecipe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ReviewRecipe" ("Id_review_recipe", "Detail_review_recipe", "Rate_review_recipe", "FRK_recipe") FROM stdin;
1	Delicious! Will make it again.	5	16
2	Perfect cake, my family loved it.	5	17
3	The curry was too spicy for me.	3	17
4	Great salad recipe!	4	18
5	Superb dessert, a must-try.	5	18
\.


--
-- Data for Name: StepRecipe; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Categorie_recipe_Id_Categorie_recipe_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Categorie_recipe_Id_Categorie_recipe_seq"', 1, false);


--
-- Name: DetailRecipe_Id_detail_recipe_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."DetailRecipe_Id_detail_recipe_seq"', 58, true);


--
-- Name: FavoriteUserRecipe_favRecipe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."FavoriteUserRecipe_favRecipe_id_seq"', 6, true);


--
-- Name: IngredientRecipe_Id_List_Ingredients_recipe_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."IngredientRecipe_Id_List_Ingredients_recipe_seq"', 1, false);


--
-- Name: IngredientRecipe_Id_ingredient_recipe_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."IngredientRecipe_Id_ingredient_recipe_seq"', 99, true);


--
-- Name: Produit_Id_Produit_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Produit_Id_Produit_seq"', 1, false);


--
-- Name: Recipe_Id_recipe_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Recipe_Id_recipe_seq"', 93, true);


--
-- Name: ReviewRecipe_Id_review_recipe_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ReviewRecipe_Id_review_recipe_seq"', 5, true);


--
-- Name: StepRecipe_Id_step_recipe_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."StepRecipe_Id_step_recipe_seq"', 154, true);


--
-- Name: User_Id_user_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_Id_user_seq"', 15, true);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_id_seq', 8, true);


--
-- Name: Categorie_recipe Categorie_recipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Categorie_recipe"
    ADD CONSTRAINT "Categorie_recipe_pkey" PRIMARY KEY ("Id_Categorie_recipe");


--
-- Name: DetailRecipe DetailRecipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DetailRecipe"
    ADD CONSTRAINT "DetailRecipe_pkey" PRIMARY KEY ("Id_detail_recipe");


--
-- Name: FavoriteUserRecipe FavoriteUserRecipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FavoriteUserRecipe"
    ADD CONSTRAINT "FavoriteUserRecipe_pkey" PRIMARY KEY ("favRecipe_id");


--
-- Name: IngredientRecipe IngredientRecipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."IngredientRecipe"
    ADD CONSTRAINT "IngredientRecipe_pkey" PRIMARY KEY ("Id_ingredient_recipe");


--
-- Name: Ingredients IngredientRecipe_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ingredients"
    ADD CONSTRAINT "IngredientRecipe_pkey1" PRIMARY KEY ("Id_List_Ingredients_recipe");


--
-- Name: Produit Produit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Produit"
    ADD CONSTRAINT "Produit_pkey" PRIMARY KEY ("Id_Produit");


--
-- Name: Recipe Recipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Recipe"
    ADD CONSTRAINT "Recipe_pkey" PRIMARY KEY ("Id_recipe");


--
-- Name: ReviewRecipe ReviewRecipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReviewRecipe"
    ADD CONSTRAINT "ReviewRecipe_pkey" PRIMARY KEY ("Id_review_recipe");


--
-- Name: StepRecipe StepRecipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StepRecipe"
    ADD CONSTRAINT "StepRecipe_pkey" PRIMARY KEY ("Id_step_recipe");


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY ("Id_user");


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: Recipe unique_key_recipe; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Recipe"
    ADD CONSTRAINT unique_key_recipe UNIQUE (unique_key_recipe);


--
-- Name: User unique_username; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT unique_username UNIQUE (username);


--
-- Name: idx_recipe_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_recipe_name ON public."Recipe" USING btree ("Nom_Recipe");


--
-- Name: idx_recipe_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_recipe_search ON public."Recipe" USING gin (to_tsvector('english'::regconfig, "Nom_Recipe"));


--
-- Name: idx_unique_key_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_unique_key_user ON public."User" USING btree (unique_key_user);


--
-- Name: DetailRecipe DetailRecipe_FRK_recipe_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DetailRecipe"
    ADD CONSTRAINT "DetailRecipe_FRK_recipe_fkey" FOREIGN KEY ("FRK_recipe") REFERENCES public."Recipe"("Id_recipe") ON DELETE CASCADE;


--
-- Name: FavoriteUserRecipe FavoriteUserRecipe_FRK_recipe_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FavoriteUserRecipe"
    ADD CONSTRAINT "FavoriteUserRecipe_FRK_recipe_fkey" FOREIGN KEY ("FRK_recipe") REFERENCES public."Recipe"("Id_recipe");


--
-- Name: FavoriteUserRecipe FavoriteUserRecipe_FRK_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FavoriteUserRecipe"
    ADD CONSTRAINT "FavoriteUserRecipe_FRK_user_fkey" FOREIGN KEY ("FRK_user") REFERENCES public."User"("Id_user");


--
-- Name: IngredientRecipe IngredientRecipe_FRK_detail_recipe_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."IngredientRecipe"
    ADD CONSTRAINT "IngredientRecipe_FRK_detail_recipe_fkey" FOREIGN KEY ("FRK_detail_recipe") REFERENCES public."DetailRecipe"("Id_detail_recipe") ON DELETE CASCADE;


--
-- Name: Ingredients IngredientRecipe_FRK_recipe_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ingredients"
    ADD CONSTRAINT "IngredientRecipe_FRK_recipe_fkey" FOREIGN KEY ("FRK_recipe") REFERENCES public."Recipe"("Id_recipe") ON DELETE CASCADE;


--
-- Name: Ingredients IngredientRecipe_Frk_Ingredient_recipe_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Ingredients"
    ADD CONSTRAINT "IngredientRecipe_Frk_Ingredient_recipe_fkey" FOREIGN KEY ("Frk_Ingredient_recipe") REFERENCES public."IngredientRecipe"("Id_ingredient_recipe") ON DELETE CASCADE;


--
-- Name: Recipe Recipe_Frk_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Recipe"
    ADD CONSTRAINT "Recipe_Frk_user_fkey" FOREIGN KEY ("Frk_user") REFERENCES public."User"("Id_user") ON DELETE CASCADE;


--
-- Name: ReviewRecipe ReviewRecipe_FRK_recipe_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ReviewRecipe"
    ADD CONSTRAINT "ReviewRecipe_FRK_recipe_fkey" FOREIGN KEY ("FRK_recipe") REFERENCES public."Recipe"("Id_recipe") ON DELETE CASCADE;


--
-- Name: StepRecipe StepRecipe_FRK_recipe_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StepRecipe"
    ADD CONSTRAINT "StepRecipe_FRK_recipe_fkey" FOREIGN KEY ("FRK_recipe") REFERENCES public."Recipe"("Id_recipe") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

